<div class="h-full overflow-y-auto font-bold flex flex-col justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 bg-gray-900">

  <div class="h-full flex flex-col items-center justify-center px-4 pt-8 mx-auto md:h-screen pt:mt-0 bg-gray-900">

    <a (click)="navigateToHome()" class="flex items-center justify-center mb-4 text-2xl font-semibold lg:mb-6 text-white">
      <img src="{{Logo.iconPath}}" class="mr-2 h-10" alt="{{Logo.name}} Logo">
      <span>{{Logo.name}}</span>
    </a>

    <!-- Card -->
    <div class="max-h-96 overflow-y-auto w-3/4 p-6 space-y-6 sm:p-8 rounded-lg shadow bg-gray-800">
      <h2 class="text-2xl font-bold text-white ">
        Create a Free Account
      </h2>
      <form [formGroup]="form" (ngSubmit)="updateProfile()" class="mt-8 space-y-6">

        <div>
          <label for="firstName" class="block mb-2 text-sm font-bold  text-white">Your firstName</label>
          <input formControlName="firstName"
                 type="text" name="firstName" id="firstName" class="border sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500">
          <div class="text-red-500">{{getErrorName("firstName")}}</div>
        </div>
        <div>
          <label for="middleName" class="block mb-2 text-sm font-bold  text-white">Your middleName</label>
          <input formControlName="middleName"
                 type="text" name="middleName" id="middleName" class="border sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500">
          <div class="text-red-500">{{getErrorName("middleName")}}</div>
        </div>
        <div>
          <label for="lastName" class="block mb-2 text-sm font-bold  text-white">Your lastName</label>
          <input formControlName="lastName"
                 type="text" name="lastName" id="lastName" class="border sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500">
          <div class="text-red-500">{{getErrorName("lastName")}}</div>
        </div>
        <div>
          <label for="email" class="block mb-2 text-sm font-bold  text-white">Your email</label>
          <input formControlName="email"
                 type="email" name="email" id="email" class="border sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500">
          <div class="text-red-500">{{getErrorEmail("email")}}</div>
        </div>
        <div>
          <label for="birthDate" class="block mb-2 text-sm font-bold  text-white">Your birth date</label>
          <input formControlName="birthDate"
                 type="date" name="birthDate" id="birthDate" class="border sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500">
          <div class="text-red-500">{{getErrorBirthDate("birthDate")}}</div>
        </div>
        <button [disabled]="form.invalid"
                type="submit"
                class="disabled:bg-blue-300 w-full px-5 py-3 text-base font-bold  text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto bg-primary-600 hover:bg-primary-700 focus:ring-primary-800">Update account</button>
      </form>
    </div>
  </div>


</div>
