<!-- signin.component.html -->
<div class="signin-container">
  <h2>Sign In</h2>
  <form (ngSubmit)="signin()">
    <mat-form-field class="form-group">
      <input matInput placeholder="Username" type="text" id="username" name="username" [(ngModel)]="credentials.username" required>
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput placeholder="Password" type="password" id="password" name="password" [(ngModel)]="credentials.password" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Sign In</button>
  </form>
</div>
