<div class="search-bar">
  <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" (input)="onSearch()" />
  <button (click)="onSearch()">Search</button>
  <button (click)="gotAddPage()">Add</button>
</div>

<div class="pagination">
  <button class="page-button" [disabled]="page === 0 || totalPages == 0" (click)="onPageChange(-1)">Previous</button>
  <span>Page {{ page + 1 }} of {{ totalPages }}</span>
  <button class="page-button" [disabled]="page === totalPages - 1 || totalPages == 0" (click)="onPageChange(1)">Next</button>
</div>

<div class="piece-list">
  <div class="piece" *ngFor="let piece of pieces">
    <h2>{{ piece.name }}</h2>
    <div class="piece-images">
      <div class="piece-image" *ngFor="let image of piece.images">
        <img [src]="host + image.photoPath" alt="{{ image.name }}">
      </div>
    </div>
  </div>
</div>
