<div class="search-bar">
  <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" (input)="onSearch()" />
  <button (click)="onSearch()">Search</button>
  <button (click)="gotoAddPage()">Add</button>
</div>

<div class="pagination">
  <button class="page-button" [disabled]="page === 0 || totalPages == 0" (click)="onPageChange(-1)">Previous</button>
  <span>Page {{ page + 1 }} of {{ totalPages }}</span>
  <button class="page-button" [disabled]="page === totalPages - 1 || totalPages == 0" (click)="onPageChange(1)">Next</button>
</div>

<div class="item-list">
  <div class="item" *ngFor="let item of items" >
    <button  (click)="editItem(item.id)">Update</button>
    <button (click)="deleteItem(item.id)">Delete</button>
    <h2>{{ item.name }}</h2>
    <div class="item-images">
      <div class="item-image" *ngFor="let image of item.images">
        <img [src]="host + image.photoPath" alt="{{ image.name }}">
      </div>
    </div>
  </div>
</div>
