.piece-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 400px;
  overflow-y: auto;


  .piece {
    background-color: #673AB7;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(50% - 20px);
    box-sizing: border-box;

    @media (max-width: 768px) {
      width: calc(100% - 20px);
    }

    &:hover {
      cursor: pointer;
    }

    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .piece-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .piece-image {
        margin-bottom: 10px;
        width: calc(33.33% - 10px);
        box-sizing: border-box;

        @media (max-width: 768px) {
          width: calc(50% - 10px);
        }

        img {
          width: 100%;
          height: auto;
          border-radius: 5px;
        }
      }
    }
  }
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    width: 100%;
  }

  button {
    padding: 8px 12px;
    margin: 5px;
    background-color: #673AB7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background-color: #4f19af;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  .page-button {
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #673AB7;
    color: #fff;
    border: 1px solid #5f2db7;
    border-radius: 4px;

    &:hover {
      background-color: #551cb9;
      border-color: #4906c0;
    }

    &:disabled {
      background-color: #ccc;
      color: #666;
      border-color: #ccc;
      cursor: not-allowed;
    }
  }
}
