
.popup-container {
  position: fixed;
  z-index: 9999;
  top: 30px;
  left: 10px;
  padding: 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.success {
  background-color: green;
}

.warning {
  background-color: #ffd500;
  color: gray;
}

.error {
  background-color: red;
}

.close-btn {
  float: right;
  cursor: pointer;
  padding: 5px;
}
