<app-base-list [itemService]="vehicleService"
               [columns]="columns"
               (addButtonIsClicked)="addVehicle()"
                (editButtonIsClicked)="editVehicle($event)"
               (deleteButtonIsClicked)="deleteVehicle($event)"
></app-base-list>

<app-base-add [service]="vehicleService"
              [inputs]="inputs"
              [form]="form"
              (itemIsAdded)="refreshList()"
></app-base-add>

<app-base-delete [service]="vehicleService"
                 (itemIsDeleted)="refreshList()"
></app-base-delete>

<app-base-update [service]="vehicleService"
              [inputs]="inputs"
              [form]="form"
              (itemIsUpdated)="refreshList()"
></app-base-update>
