<!--Update  -->
<div
  *ngIf="isModalVisible"
  class="fixed left-0 right-0 z-50 items-center justify-center overflow-x-hidden overflow-y-auto top-4 md:inset-0 h-modal sm:h-full flex bg-opacity-50 bg-gray-600">
  <div class="relative w-full h-full max-w-2xl px-4 md:h-auto">
    <!-- Modal content -->
    <div class="relative rounded-lg shadow bg-gray-800">
      <!-- Modal header -->
      <div class="flex items-start justify-between p-5 border-b rounded-t border-gray-700">
        <h3 class="text-xl font-semibold text-white">
          Update {{ service!.getItemName() }}
        </h3>
        <button
          (click)="toggleModal()"
          type="button"
          class="text-gray-400 bg-transparent rounded-lg text-sm p-1.5 ml-auto inline-flex items-center hover:bg-gray-700 hover:text-white">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
      </div>
      <form [formGroup]="form" (ngSubmit)="updateItem()">
        <!-- Modal body -->
        <div class="p-6 space-y-6">

          <div class="grid grid-cols-6 gap-6">

            <ng-container *ngFor="let input of inputs">

              <div class="col-span-6 sm:col-span-3">

                <label [for]="input.name"
                       class="block mb-2 text-sm font-medium text-white"
                       [innerHTML]="input.label"></label>

                <ng-container *ngIf="input.type === InputType.TEXT">
                  <input type="text"
                         [name]="input.name"
                         [id]="'field-'+input.name"
                         [formControlName]="input.name"
                         class="shadow-sm border sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500"
                  >
                </ng-container>

                <ng-container *ngIf="input.type === InputType.SELECT">
                  <select [id]="'select-'+input.name"
                          [formControlName]="input.name"
                          class="border text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500">
                    <ng-container *ngFor="let option of input.options">
                      <option
                        [value]="option"
                        [innerHTML]="option">
                      </option>
                    </ng-container>

                  </select>
                </ng-container>

                <div class="text-red-500">{{ input.validationMessage ? input.validationMessage() : ''}}</div>
              </div>

            </ng-container>

          </div>

        </div>
        <!-- Modal footer -->
        <div
          class="items-center p-6 border-t rounded-b border-gray-700">
          <button
            [disabled]="form!.invalid"
            type="submit"
            class="disabled:bg-blue-300 disabled:cursor-not-allowed text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-primary-600 hover:bg-primary-700 focus:ring-primary-800" >
            {{ 'Update ' + service!.getItemName()}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
