<app-base-list [itemService]="pieceService"
               [columns]="pieceList.columns"
               [extraRowButtons]="pieceList.extraRowButtons"
               (addButtonIsClicked)="addButtonIsClicked()"
               (editButtonIsClicked)="editButtonIsClicked($event)"
               (deleteButtonIsClicked)="deleteButtonIsClicked($event)"
               (extraButtonIsClicked)="extraButtonIsClicked($event)"
></app-base-list>

<app-base-add [service]="pieceService"
              [inputs]="pieceForms.pieceInputs"
              [form]="pieceForms.pieceForm"
              (itemIsAdded)="refreshList()"
></app-base-add>

<app-base-delete [service]="pieceService"
                 (itemIsDeleted)="refreshList()"
></app-base-delete>

<app-base-update [service]="pieceService"
                 [inputs]="pieceForms.pieceInputs"
                 [form]="pieceForms.pieceForm"
                 (itemIsUpdated)="refreshList()"
></app-base-update>

<app-base-add #Transactions [service]="pieceTransactionService"
              [inputs]="pieceForms.transactionInputs"
              [form]="pieceForms.transactionForm"
              (itemIsAdded)="refreshList()"
></app-base-add>

