<div class="item-container">
  <button (click)="gotoItemList()">Go Back To List</button>
  <form (ngSubmit)="addItem()" #itemForm="ngForm">
    <div class="form-group">
      <label for="name">Piece Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="item.name" required>
    </div>

    <div class="form-group">
      <label for="image">Piece Images</label>
      <input type="file" (change)="onFileSelected($event)" id="image" accept="image/*" multiple #fileInput>
    </div>

    <div *ngIf="item.images.length > 0" class="selected-images">
      <div *ngFor="let image of item.images" class="selected-image">
        <img [src]="'data:image/png;base64,'+image.photoInBase64Format" alt="Selected ImageHolder">
        <button class="btn btn-icon" (click)="removeImage(image)">
          <i class="fas fa-times">x</i>
        </button>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="itemForm.invalid || !item.images.length">Add Piece</button>
  </form>
</div>
