<div class="container">
  <h1>Welcome to Vehicle Management System</h1>
  <button class="navigate-button" (click)="goToVehicleList()">Go to Vehicles List</button>
  <p>Here, you can manage various vehicles for different purposes. You have the following features:</p>
  <div class="features">
    <div class="feature">
      <h2>Add Vehicles</h2>
      <p>You can add new vehicles to the system. Each vehicle can have a name, description, and image associated with it.</p>
    </div>
    <div class="feature">
      <h2>Update Vehicles</h2>
      <p>You can update existing vehicles by modifying their name, description, or image.</p>
    </div>
    <div class="feature">
      <h2>Delete Vehicles</h2>
      <p>You can delete vehicles from the system that are no longer needed.</p>
    </div>
  </div>
  <div class="features">
    <div class="feature">
      <h2>Search Vehicles</h2>
      <p>You can search for vehicles based on their name or description, making it easy to find what you're looking for.</p>
    </div>
    <div class="feature">
      <h2>Manage Various Types</h2>
      <p>You can manage different types of vehicles such as cars, trucks, motorcycles, and more.</p>
    </div>
    <div class="feature">
      <h2>Enhance Efficiency</h2>
      <p>Efficiently organize and manage your vehicles to streamline your workflow and improve productivity.</p>
    </div>
  </div>
</div>
